---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
---

<BaseLayout pageTitle={`${pageTitle} -  Muhammad Zainul Hakim`}>
  <div class="prose">
    <h1>About me</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
      laborum aliquam quod veritatis accusamus dolore itaque aperiam quisquam,
      maxime qui nisi quasi totam magni voluptatem dolorem at voluptatum sed
      vel.
    </p>
  </div>
</BaseLayout>
