---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="relative mx-auto min-h-screen">
    <section class="mx-auto max-w-3xl px-3 py-4">
      <article
        class="prose mx-auto prose-a:no-underline hover:prose-a:underline dark:prose-invert lg:prose-xl"
      >
        <h2 class="text-lg">Contact me</h2>
        <div>
          <p>
            📫 Feel free to DM me on{" "}
            <a
              href="https://twitter.com/zaynhakim__"
              target="_blank"
              rel="noreferrer"
            >
              Twitter
            </a>
            ,{" "}
            <a
              href="https://www.linkedin.com/in/zaynhakim/"
              target="_blank"
              rel="noreferrer"
            >
              LinkedIn
            </a>
            , or You can visit my{" "}
            <a
              href="https://github.com/zaynhakim"
              target="_blank"
              rel="noreferrer"
            >
              GitHub profile page
            </a>
          </p>
        </div>
      </article>
    </section>
  </main>
</BaseLayout>
