---
const thisYear = new Date().getFullYear();
---

<style>
  footer {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
  }
</style>

<footer class="grid h-12 w-full place-items-center">
  <div
    class="container max-w-3xl mx-auto px-4 flex w-full items-center justify-between text-sm text-gray-800 dark:text-gray-200"
  >
    <div class="grid place-items-center">
      &copy; {thisYear} Muhammad Zainul Hakim
    </div>
  </div>
</footer>
