---
const thisYear = new Date().getFullYear();
---

<style>
  footer {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
  }
</style>

<footer class="grid h-12 w-full place-items-center">
  <div
    class="container max-w-3xl mx-auto px-4 flex w-full items-center justify-between text-sm text-gray-800 dark:text-gray-200"
  >
    <div class="grid place-items-center">
      &copy; {thisYear} Muhammad Zainul Hakim
    </div>
    <div class="grid place-items-center">
      <div class="inline-flex text-lg gap-2">
        <a
          href="https://twitter.com/zaynhakim__"
          target="_blank"
          rel="noopener noreferrer"
        >
          <iconify-icon icon="mdi:twitter" title="Twitter profile page"
          ></iconify-icon>
        </a>
        <a
          href="https://www.youtube.com/@zaynhakim/videos"
          target="_blank"
          rel="noopener noreferrer"
        >
          <iconify-icon icon="mdi:youtube" title="YouTube channel"
          ></iconify-icon>
        </a>
        <a
          href="http://linkedin.com/in/zaynhakim"
          target="_blank"
          rel="noopener noreferrer"
        >
          <iconify-icon icon="mdi:linkedin" title="LinkedIn profile page"
          ></iconify-icon>
        </a>
        <a
          href="http://github.com/zaynhakim"
          target="_blank"
          rel="noopener noreferrer"
        >
          <iconify-icon icon="mdi:github" title="github profile page"
          ></iconify-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
