---
---

<header class="mx-auto px-3 pb-2 pt-6">
  <section
    class="mx-auto flex flex-col justify-end rounded-t-2xl pt-12 sm:pt-14 md:max-w-3xl md:pt-16"
  >
    <div
      class="mx-auto flex items-center justify-center gap-4 py-2 text-lg font-semibold text-sky-900 dark:text-sky-100 md:max-w-3xl"
    >
      <a href="/">🏠</a>
      <ul class="flex gap-4 md:gap-6">
        <li>
          <a href="/blog">Blogs</a>
        </li>
      </ul>
    </div>
  </section>
</header>
