---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={`${frontmatter.title} - Muhammad Zainul Hakim`}>
  <main
    class="prose mx-auto my-8 max-w-3xl px-4 py-3 dark:prose-invert md:prose-xl prose-a:no-underline hover:prose-a:underline"
  >
    <h2>{frontmatter.title}</h2>
    <div class="not-prose flex items-center gap-1 text-sm">
      <iconify-icon icon="mdi:clock-time-two-outline"></iconify-icon>
      <time>{new Date(frontmatter.pubDate).toLocaleDateString()}</time>
    </div>
    <div>
      <slot />
    </div>
  </main>
</BaseLayout>
